.dashboard {
	min-width: 500px;
}

@media (min-width: 800px) {
	.dashboard {
		min-width: 750px;
	}
}

header,
.user-list > section {
	grid-template-columns: 262px 340px 72px;
}

.deleteIcon:hover {
	filter: invert(24%) sepia(76%) saturate(7485%) hue-rotate(356deg)
		brightness(92%) contrast(122%);
}
