/*Icons*/
@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";

/*Font*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*Tailwind*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Variables*/
:root {
	--bg-blue: #122c60;
	--prime-blue: #1eb2e8;
	--dark-grey: #303030;
	--grey: #c4c4c4;
	--light-grey: #e4e4e4;
	--white: #ffffff;
}

html,
body {
	font-family: "Inter", sans-serif;
}

/* IDK why i need this but i do */
.bg-blue-prime {
	background-color: var(--prime-blue);
}
.bg-white {
	background-color: var(--white);
}
