/*Icons*/
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.min.css";

/*Font*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*Tailwind*/
@tailwind base;
@tailwind components;
@tailwind utilities;

/*Variables*/
:root {
	--bg-blue: #122c60;
	--prime-blue: #1eb2e8;
	--dark-grey: #303030;
	--grey: #c4c4c4;
	--light-grey: #e4e4e4;
	--white: #ffffff;
}

html,
body {
	font-family: "Inter", sans-serif;
	background-color: var(--bg-blue);
}

main {
	padding: 4rem;
	background-color: var(--white);
}

.input-section > input {
	padding: 20px;
	border: 1px solid var(--light-grey);
	border-radius: 5px;
}

.input-section > input + label {
	margin-left: 20px;
	transition: ease-out 0.05s;
	background-color: var(--white);
	top: 50%;
	transform: translate(0px, -50%);
	color: var(--grey);
}

.input-section > input:focus-within + label,
.input-section > input:not(:placeholder-shown) + label {
	@apply px-2 rounded-md;
	margin-left: 14px;
	font-size: 0.75em;
	transform: translate(0px, -40px);
}

.input-section > input:focus-within,
.input-section > input:not(:placeholder-shown),
.input-section > input:focus-visible {
	box-shadow: none;
	outline: none;
}

button {
	@apply py-5;
	background-color: var(--prime-blue);
	width: 100%;
}
